# Ignore Windows system files
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
NTUSER.*
AppData/
Downloads/
Desktop/
Documents/
Videos/
Music/

# Ignore development environment files
.idea/
.vscode/
*.log
*.ini
